.btn {
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
}

.btn--primary {
  background-color: var(--black);
  color: var(--white);
  padding: 1.2rem 2.6rem;
  border-radius: 6px;
}

.btn--secondary {
  background-color: #2A4988 ;
  color: var(--white);
  padding: 1.2rem 2.6rem;
  border-radius: 6px;
  width: 100%;

}