.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px 36px;
  text-align: left;
  gap: 24px;
  width: 607px;
  height: 497px;
  background: #ffffff;
  box-shadow: 0px 4px 13px rgba(29, 66, 109, 0.25);
  border-radius: 16px;
}

.close {
  border-style: none;
}

.vector {
  position: absolute;
  right: 8.33%;
  top: 5%;
  cursor: pointer;
}

.heading {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 125%;
  color: #252428;
}

.container h1 {
  color: black;
  float: left;
}

.label {
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  color: #252428;
  position: relative;

  margin: 3%;
}
.input {
  box-sizing: border-box;
  width: 100%;
  height: 58px;
  background: #ffffff;
  border: 1px solid #b2b2b2;
  border-radius: 6px;
  padding: 0.8rem;
}

.delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 12px;
  margin: 3%;
  width: 188px;
  height: 48px;
  color: white;
  background: #2a4988;
  border-radius: 6px;
  float: right;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;;
  line-height: 150%;
  cursor: pointer;
}
