.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px 36px;
  text-align: left;
  gap: 50px;
  width: 500px;
  height: 253px;
  background: #ffffff;
  box-shadow: 0px 4px 13px rgba(29, 66, 109, 0.25);
  border-radius: 16px;
}

.close {
  border-style: none;
  position: absolute;
  right: 3.33%;
  top: 5%;
  cursor: pointer;
}

.vector {
  position: absolute;
  right: 8.33%;
  top: 5%;
  cursor: pointer;
}

.account {
  width: 215px;
  height: 38px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 125%;
  color: #252428;
  margin-bottom: 2%;
}

.warning {
  width: 452px;
  height: 48px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #252428;
  margin-bottom: 3%;
}

.confirm {
  width: 320px;
  height: 21px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #808081;
  margin-bottom: 3%;
}

.input {
  display: inline-block;
  width: 70%;
  height: 54px;
  padding: 0.8rem;
  background: #ffffff;
  border: 1px solid #b2b2b2;
  border-radius: 6px;
}

.delete {
  position: absolute;
  border: none;
  top: 0;
  right: 0;
  width: 120px;
  height: 54px;
  margin-bottom: 2%;
  color: #ffffff;
  background: #dd4d42;
  border-radius: 6px;
}

.container form {
  position: relative;
}
