.card {
  padding: 2.4rem;
  background-color: var(--primary-white);
  border: 2px solid var(--primary-blue-dark);
  box-shadow: 12px 12px 0px #364768;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.card h3 {
  color: var(--primary-blue-dark);
}

.card div {
  background-color: var(--primary-blue-light);
  border: 1px solid var(--primary-blue-dark);
  color: var(--primary-blue-dark);
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 1.4rem;
}
