.card {
    position: relative;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 300px;
    margin: 45px;
    padding: 24px 36px;
    width: 245px;
    height: 183px;
    background: #FFFFFF;
    border: 0.5px solid #bdbdbd;
    box-shadow: 12px 12px 0px #F0F0F0;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.title {
    width: 173px;
height: 30px;
font-family: 'Lora';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 150%;
text-align: center;
letter-spacing: 0.02em;
}

.button {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 12px;
font-family: 'Open Sans';
width: 84px;
height: 36px;
background: #EDF3FE;
border: 1px solid #2A4988;
border-radius: 6px;
position: absolute;
top: 40%;
left: 33%;
cursor: pointer;
}