.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  font-family: var(--font-fam-lora);
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  color: var(--primary-black);
}

.form-control input,
.form-control textarea {
  width: 100%;
  font: inherit;
  padding: 1.2rem;
  margin-bottom: 2.4rem;
  border: 1px solid #b2b2b2;
  border-radius: 6px;
  color: var(--primary-black);
}

.form-control input :last-child,
.form-control textarea:last-child {
  margin-bottom: 0;
}

.form-control textarea {
  resize: vertical;
}
