.container {
  display: flex;
}

.main {
  max-width: 144rem;
  width: 70%;
  margin: 4.8rem auto;
}

.container .main {
  margin-top: 5.6rem;
}

@media (max-width: 1440px) {
  .main {
    padding: 0 4.8rem;
  }
}

@media (max-width: 1080px) {
  .container {
    display: unset;
  }
}

@media (max-width: 620px) {
  .container .main {
    width: 100%;
    max-width: unset;
    margin-top: 2.4rem;
  }
}
