.checkbox {
  display: flex;
  gap: 1.2rem;
}

.checkbox input {
  width: 2.4rem;
}

.checkbox label {
  font-size: 1.6rem;
  font-family: var(--font-fam-lora);
}

.checkbox a:link,
.checkbox a:visited {
  text-decoration: none;
  color: var(--primary-blue-dark);
}

.closeBtn {
  transition: all 0.3s ease-out;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 1.7rem;
  right: 1.7rem;
}

.closeBtn:hover {
  opacity: 80%;
}
